.edit-plus-form-item .ck-content {
  min-height: auto;
}

.ck-body-wrapper .ck.ck-balloon-panel {
  z-index: 2;
}

/* The source plugin isn't supported in InlineEditor */
.ck.ck-button.ck-source-editing-button {
  display: none;
}
/* Still allow it in ClassicEditor's though. */
.edit-plus-form-item .ck.ck-button.ck-source-editing-button {
  display: flex;
}

/* Sets the text color of the editor based on the editable element @see setEditorTextColorBasedOnTheElement() */
:root {
  --text-color-from-element: black;
}
.text-color-from-element {
  color: var(--text-color-from-element);
}

