.edit-plus-hidden,
input.edit-plus-hidden,
div.edit-plus-hidden,
.edit-plus-hidden input {
  visibility: hidden !important;
  position: absolute;
  /* Reveal elements being edited */
  .edit-plus-editing {
    visibility: visible !important;
  }
}

#edit_plus {
  position: fixed;
  z-index: 10;
  margin-left: 50%;
  cursor: pointer;
  padding: 1em;
  top: 32px;
  user-select: none;
  color: #000;
}

.sized-placeholder {
  width: auto;
}

[data-edit-plus-form-item-widget="media_library_widget"] {
  background-color: var(--drupal-admin-color-white, #fff);
  padding: .5rem;
}

.form-item-popout,
.form-item-always-popout {
  border: 1px solid var(--drupal-admin-color-gray-100, #d8dfea);
  background-color: var(--drupal-admin-color-white, #fff);
  padding: 10px;
  box-shadow:
    0 0 72px rgba(0, 0, 0, 0.2),
    0 0 8px rgba(0, 0, 0, 0.04),
    0 0 40px rgba(0, 0, 0, 0.06);
}

.ck-powered-by-balloon * {
  display: none;
}

.edit-plus-form-item label {
  display: none;
}

.edit-plus-field-added-to-page-effect {
  background-color: inherit;
  animation: fieldAddedToPage 3s;
  animation-fill-mode: forwards;
}

@keyframes fieldAddedToPage {
  from { background-color: rgba(121, 189, 143, 1)}
  to { background-color: rgba(121, 189, 143, 0)}
}

/* Inline Element update AJAX throbber */
.disabled-updating {
  position: relative;

  .ajax-progress {
    position: absolute;
    user-select: none;
    display: flex;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    transition: opacity .15s ease-out;

    .throbber,
    .message {
      display: block;
    }
  }
}
.element-ajax-throbbing {
  /* Disable the forms submit handlers throbber when element throbber is active. */
  .ajax-progress {
    display: none;
  }
  /* Still show the element throbber though. */
  .disabled-updating .ajax-progress {
    display: flex;
  }
}

.edit-plus-validation-message {
  user-select: none;
  position: absolute;
  border: 1px solid #ddd;
  margin-top: 10px;
  background-color: #347efe;
  line-height: 21px;
  letter-spacing: 0.32px;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: calc(0.5*max(1rem, 16PX));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: calc(var(--navigation-plus-right-sidebar-z-index, 10) + 2);

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #347efe transparent;
    z-index: calc(var(--navigation-plus-right-sidebar-z-index, 10) + 1);
  }
}
